{% extends "base.html" %}

{% block content %}

<div class="card-wrapper">

<div class="card">

    <h1 class="center">Reset Password</h1>

    <form name="changepass_form" method="POST" action="{{url_for('changepass')}}">

      <label for="newpassword">New Password</label>
      <input type="password" name="newpassword" class="field" required>

      <label for="cpassword">Confirm Password</label>
      <input type="password" name="cpassword" class="field" required>

      <input type="submit" value="Reset" class="btn">
    
    </form>
    
  </div>

</div>

{% endblock %}