{% extends "base.html" %}

{% block content %}

<div class="card-wrapper">
    <div class="card">

        <h1 class="center">Login to your account</h1>

        <form name="login_form" method="post" action="{{form_action}}" novalidate>

            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="field" >

            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="field" required>

            <input type="submit" value="Login" class="btn"><br>

            <a href="{{forgot_pass_url}}" style="display: block; text-align: center;">Forgot Password?</a>

        </form>
    </div>


{% endblock %}