{% extends "base.html" %}

{% block content %}

<div class="card-wrapper">

<div class="card">

    <h1 class="center">Enter your Email</h1>

    <form name="resetpass_form" method="POST, GET" action="{{url_for('resettoken')}}">

      <label for="email">Email</label>
      <input type="email" name="email" class="field" required>

      <p class="error error--hidden"></p>

      <input  href="reset_token.html" type="submit" value="Send Code" class="btn">
    
    </form>
    
  </div>

</div>

{% endblock %}