{% extends "base.html" %}

{% block content %}

<div class="card-wrapper">
    <div class="card">

        <h1 class="center">Create an account</h1>

        <form name="signup_form" method="post" action="{{url_for('signup')}}" novalidate>
            
            <label for="name">Name</label>
            <input type="text" id="name" name="name" class="field" >

            <label for="email">Email</label>
            <input type="email" id="email" name="email" class="field" >

            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="field" required>

            <div class="error error--hidden"></div>

            <input type="submit" value="Sign Up" class="btn">

        </form>
    </div>


{% endblock %}